.DiceRollsNum {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.DiceRollsNum button{
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  padding: 10px 16px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 30px;
}

.DiceRollsNum button:hover {
  cursor: pointer;
}

.normalNum {
  background-color: #fff;
  border-color: #ccc;
}

.normalNum:hover {
  background-color: rgb(221, 221, 221);
}

.normalNum:focus,
.normalNum:active {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.activeNum {
  background-color: #e6e6e6;
  border-color: #adadad;
}